@{
    ViewBag.Title = "Menu seguridad";

}
<h4>@ViewBag.Title</h4>
<div class="card">
    <div class="contenedor-menu">
        <!--consutas-->
        <div class="consulta-usuario">
            <a href="@Url.Action("ConsultaUsuario","Usuario")">
                <img src="~/Content/images/consulta-usuario.png" />
            </a>
        </div>
        <!--registro-->
        <div class="registro-usuario">
            <a href="@Url.Action("RegistroUsuario","Account")">
                <img src="~/Content/images/registro-usuario-new.png" />
            </a>
        </div>
        <!--actualizar-->
        <div class="reporte-usuario">
            <a href="@Url.Action("AgregarRol","Rol")">
                <img src="~/Content/images/reporte-usuario-new.jpg" />
            </a>
        </div>
    </div>
</div>